* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
}

body {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 600;
  background-color: white;
  overflow-x: hidden;
}

*::selection {
  color: black;
  background-color: rgba(255, 0, 0, 0.25);
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid black;
  letter-spacing: 0.4px;
}

nav {
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  top: 50%;
  left: calc(50% - 480px);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  border-bottom: none;
  padding-inline: 10px;
  opacity: 0.25;
  font-size: 16px;
  transform: rotate(180deg);
  transition: 0.35s ease;
}

nav a:hover {
  opacity: 0.75;
}

.icons a {
  border-bottom: none;
}

nav .active {
  opacity: 1;
}

nav li {
  list-style-type: none;
  line-height: 30px;
}

nav .pfp {
  height: 84px;
  border-radius: 84px;
  display: block;
  cursor: pointer;
  transition: 0.35s ease;
  transform: rotate(-90deg);
}

nav .pfp:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

code {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
  border-radius: 4px;
  padding: 4px;
}

h2 {
  padding-inline: 4px;
  margin-bottom: 1.5rem;
  opacity: 0.85;
  border-bottom: 2px solid rgba(255, 0, 0, 0.5);
  width: fit-content;
}

p {
  text-transform: none;
  font-weight: normal;
  font-family: 'Inter';
  opacity: 0.75;
  line-height: 1.7;
  letter-spacing: 0.4;
}

.section-heading {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

.container {
  display: block;
  max-width: 1200px;
  width: 100%;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.content {
  margin-left: 240px;
  flex-grow: 1;
}

section {
  padding: 64px 0;
  opacity: 0;
  transition: 0.5s ease;
  transform: translateX(10vw);
}

section:first-child {
  transform: translateX(0);
  opacity: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: start;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
}

td {
  opacity: 0.8;
  text-transform: none;
}

.table-wrapper {
  width: 100%;
  overflow: auto;
}

.btn {
  position: relative;
  width: fit-content;
  text-decoration: none;
  display: block;
  background: none;
  border: 1px solid black;
  font-family: 'Poppins';
  text-transform: uppercase;
  padding: 12px 16px;
  cursor: pointer;
  transition: 0.35s ease;
  border-radius: 2px;
}

.btn:before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: black;
  transition: 0.35s ease;
}

.btn:hover:before {
  right: 0;
}

.btn:hover {
  color: white;
}

#intro .icons img {
  position: relative;
  background-color: #212121;
  height: 64px;
  margin-right: 10px;
  margin-bottom: 6px;
  border-radius: 12px;
  padding: 12px;
  transition: 0.35s ease;
}

#intro .icons img:hover {
  transform: scale(1.12);
  padding: 8px;
  border-radius: 16px;
}

#scroll-percent-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0vw;
  max-width: 100vw;
  height: 5px;
  background-color: #e53935;
  z-index: 1001;
  transition: 0.35s ease;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.scroll-track {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 100vw;
  background-color: #f5f5f5;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .content {
    padding-top: 84px;
    margin-left: 0;
  }

  nav {
    top: 5px;
    left: 0;
    height: 64px;
    line-height: 64px;
    padding-left: 1.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1rem);
    overflow-x: auto;
    z-index: 10;
    transform: translateX(0);
    width: 100vw;
  }

  nav .spacer {
    display: none;
  }

  nav .pfp {
    height: 36px;
    width: 36px;
    transform: rotate(0deg);
  }

  nav ul {
    white-space: nowrap;
    overflow-x: auto;
    margin-left: 1rem;
  }

  nav ul li a {
    margin-inline: 6px;
    transform: none;
  }

  nav ul li a:first-child {
    padding-left: 0;
  }

  section {
    padding: 72px 0;
    transform: translate(0, 10vh);
  }

  .section-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  #scroll-percent-bar {
    box-shadow: none;
  }
}
