* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Oxygen';
  overflow-x: hidden;
}

main {
  display: flex;
  width: 200%;
}

main .content,
main .side-menu {
  width: 100%;
}

.side-menu {
  background-color: black;
  color: white;
}

.side-menu .menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 3rem;
  font-size: 32px;
  cursor: pointer;
}

.menu-icon {
  color: black;
}

.close-icon {
  color: white;
  display: none;
}

section {
  position: relative;
  padding: 3rem;
  min-height: 100vh;
}

section .container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
}

.hero {
  width: 75%;
}

.hero h1 {
  font-size: 64px;
  margin-bottom: 2rem;
}

.hero p {
  color: #848484;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 2.5rem;
}

.hero .btn {
  font-size: 20px;
}

@media (max-width:768px) {
  section {
    padding: 1.5rem;
  }

  .hamburger-menu {
    margin: 1.5rem;
  }
}